#main {
  margin-top: 40px;
}

#main h2.location {
  text-align: center;
  font-size: 27px;
}

#main .flex-container {
  display: flex;
  justify-content: center;
}

#main .flex-container > * {
  width: 40%;
  margin: 40px;
}