#main {
  margin-top: 40px;
}

#main h2.location {
  text-align: center;
  font-size: 27px;
}

#main .flex-container {
  display: flex;
  justify-content: center;
}

#main .flex-container > * {
  width: 40%;
  margin: 40px;
}

@media only screen and (max-width: 1415px) {
  #main .flex-container {
    flex-direction: column;
  }

  #main .flex-container > * {
    width: 80%;
    height: 400px;
    margin: auto;
  }

  #main .flex-container .chart-container {
    margin-bottom: 170px;
  }

  #main .flex-container #map {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  #main .flex-container .chart-container {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 750px) {
  #main .flex-container .chart-container {
    margin-bottom: -15px;
  }
}

@media only screen and (max-width: 550px) {

  #main .flex-container .chart-container {
    width: 95%;
    margin-bottom: -105px;
  }
}

@media only screen and (max-width: 450px) {
  #main .flex-container .chart-container {
    margin-bottom: -200px;
  }
}