#nav {
  display: none;
  z-index: 200;
  background-color: #f5f5f5;
  border-top: 2px solid #7a7a7a;
  justify-content: space-around;
  padding-left: 15px;
  padding-bottom: 10px;
  position: sticky;
  bottom: 0;
}

#nav a {
  color: #333;
  text-decoration: none;
}

#nav .nav-item svg {
  margin-bottom: -45px;
}

#nav .nav-item:first-of-type svg {
  margin-left: 19px;
}

#nav .nav-item:nth-of-type(2) svg {
  margin-left: 10px;
  margin-bottom: -40px;
}

#nav .nav-item:nth-of-type(3) svg {
  margin-left: 6px;
}

#nav .nav-item p {
  margin: 16px auto 0;
}

@media only screen and (max-width: 750px) {
  #nav {
    display: flex;
  }
}